@import "standard";

.alles {
  display: flex;
  flex-direction: row;
  gap: 20px 20px;
  flex-wrap: wrap;
  background-color: #c3cfe2;
  position: relative;
}

@media (min-width: 400px) {
  .hide1 {
    opacity: 0;
    position: absolute;
    text-align: center;
    font-size: 16px;
    top: 0;
    left: 0;
    height: $height;
    width: $width;
    background-color: $backgroundcolor;
  }
  .een:hover .hide1 {
    opacity: 1;
  }

  .hide2 {
    opacity: 0;
    position: absolute;
    text-align: center;
    font-size: 16px;
    top: 370px;
    left: 0;
    height: $height;
    width: $width;
    opacity: 0;
    background-color: $backgroundcolor;
  }
  .twee:hover .hide2 {
    opacity: 1;
  }

  .hide3 {
    opacity: 0;
    position: absolute;
    text-align: center;
    font-size: 16px;
    top: 740px;
    left: 0;
    height: $height;
    width: $width;
    opacity: 0;
    background-color: $backgroundcolor;
  }
  .drie:hover .hide3 {
    opacity: 1;
  }

  .hide4 {
    opacity: 0;
    position: absolute;
    text-align: center;
    font-size: 16px;
    top: 1110px;
    left: 0px;
    height: $height;
    width: $width;
    opacity: 0;
    background-color: $backgroundcolor;
  }
  .vier:hover .hide4 {
    opacity: 1;
  }
}

@media (min-width: 800px) {
  .hide2 {
    top: 0;
    left: 370px;
  }

  .hide3 {
    top: 350px;
    left: 0;
  }

  .hide4 {
    top: 740px;
    left: 350px;
  }
}

@media (min-width: 1000px) {
  .hide3 {
    top: 0;
    left: 740px;
  }

  .hide4 {
    top: 370px;
    left: 0px;
  }
}

.all {
  flex-direction: column;
  .kaart {
    background-color: #fff;
    border: 1px solid #b0bac9;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    box-shadow: 1px 1px 2px #b0bac9;
    .text {
      font-size: 1.2em;
      margin-top: 30px;
      margin-left: 10px;
    }
    .footer {
      text-align: center;
      background: #686de0;
      height: 140px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
    .img {
      border-radius: 50%;
      border: 3px solid #fff;
      margin: auto;
      display: block;
      position: relative;
      top: 50px;
    }
  }
}

.footer::before {
  content: "";
  background-color: #686de0;
  width: 248px;
  height: 30px;
  display: inline-block;
}

#mySidenav a {
  position: absolute;
  right: -100px;
  transition: 0.3s;
  padding: 20px;
  width: 100px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  border-radius: 5px 0 0 5px;
}

#mySidenav a:hover {
  width: 100px;
}

.sidenav {
  #blog {
    top: 20px;
    background-color: #e17b77;
  }
  #facebook {
    top: 80px;
    background-color: #3b5998;
  }
  #twitter {
    top: 140px;
    background-color: #00aced;
  }
  #github {
    top: 200px;
    background-color: #333;
  }
  #linked {
    top: 260px;
    background-color: #007bb6;
  }
}
