.alles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #c3cfe2;
  position: relative;
}

@media (min-width: 400px) {
  .foto1 {
    opacity: 1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .hide1 {
    opacity: 0;
    position: absolute;
    text-align: center;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    font-size: 16px;
    top: 0;
    left: 0;
    height: 600px;
    width: 400px;
    background-color: lightgrey;
  }
  .een:hover .hide1 {
    opacity: 1;
  }
  .foto2 {
    opacity: 1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .hide2 {
    opacity: 0;
    position: absolute;
    text-align: center;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    font-size: 16px;
    top: 620px;
    left: 0;
    height: 600px;
    width: 400px;
    opacity: 0;
    background-color: lightgrey;
  }
  .twee:hover .hide2 {
    opacity: 1;
  }
  .foto3 {
    opacity: 1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    top: 1240px;
    left: 0;
  }
  .hide3 {
    opacity: 0;
    position: absolute;
    text-align: center;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    font-size: 16px;
    top: 1240px;
    left: 0;
    height: 600px;
    width: 400px;
    opacity: 0;
    background-color: lightgrey;
  }
  .drie:hover .hide3 {
    opacity: 1;
  }
  .foto4 {
    opacity: 1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    top: 1860px;
    left: 0;
  }
  .hide4 {
    opacity: 0;
    position: absolute;
    text-align: center;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    font-size: 16px;
    top: 1860px;
    left: 0px;
    height: 600px;
    width: 400px;
    opacity: 0;
    background-color: lightgrey;
  }
  .vier:hover .hide4 {
    opacity: 1;
  }
}

@media (min-width: 800px) {
  .foto1 {
    opacity: 1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .hide1 {
    opacity: 0;
    position: absolute;
    text-align: center;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    font-size: 16px;
    top: 0;
    left: 0;
    height: 600px;
    width: 400px;
    background-color: lightgrey;
  }
  .een:hover .hide1 {
    opacity: 1;
  }
  .foto2 {
    opacity: 1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .hide2 {
    opacity: 0;
    position: absolute;
    text-align: center;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    font-size: 16px;
    top: 0;
    left: 420px;
    height: 600px;
    width: 400px;
    opacity: 0;
    background-color: lightgrey;
  }
  .twee:hover .hide2 {
    opacity: 1;
  }
  .foto3 {
    opacity: 1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    top: 620px;
    left: 0;
  }
  .hide3 {
    opacity: 0;
    position: absolute;
    text-align: center;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    font-size: 16px;
    top: 620px;
    left: 0;
    height: 600px;
    width: 400px;
    opacity: 0;
    background-color: lightgrey;
  }
  .drie:hover .hide3 {
    opacity: 1;
  }
  .foto4 {
    opacity: 1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    top: 620px;
    left: 420px;
  }
  .hide4 {
    opacity: 0;
    position: absolute;
    text-align: center;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    font-size: 16px;
    top: 620px;
    left: 420px;
    height: 600px;
    width: 400px;
    opacity: 0;
    background-color: lightgrey;
  }
  .vier:hover .hide4 {
    opacity: 1;
  }
}

@media (min-width: 1000px) {
  .foto1 {
    opacity: 1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .hide1 {
    opacity: 0;
    position: absolute;
    text-align: center;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    font-size: 16px;
    top: 0;
    left: 0;
    height: 600px;
    width: 400px;
    background-color: lightgrey;
  }
  .een:hover .hide1 {
    opacity: 1;
  }
  .foto2 {
    opacity: 1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .hide2 {
    opacity: 0;
    position: absolute;
    text-align: center;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    font-size: 16px;
    top: 0;
    left: 420px;
    height: 600px;
    width: 400px;
    opacity: 0;
    background-color: lightgrey;
  }
  .twee:hover .hide2 {
    opacity: 1;
  }
  .foto3 {
    opacity: 1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    top: 0;
    left: 400px;
  }
  .hide3 {
    opacity: 0;
    position: absolute;
    text-align: center;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    font-size: 16px;
    top: 0;
    left: 840px;
    height: 600px;
    width: 400px;
    opacity: 0;
    background-color: lightgrey;
  }
  .drie:hover .hide3 {
    opacity: 1;
  }
  .foto4 {
    opacity: 1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    top: 0;
    left: 400px;
  }
  .hide4 {
    opacity: 0;
    position: absolute;
    text-align: center;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    font-size: 16px;
    top: 620px;
    left: 0px;
    height: 600px;
    width: 400px;
    opacity: 0;
    background-color: lightgrey;
  }
  .vier:hover .hide4 {
    opacity: 1;
  }
}

.all {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.kaart {
  background-color: #fff;
  border: 1px solid #b0bac9;
  border-radius: 20px;
  width: 300px;
  height: 300px;
  -webkit-box-shadow: 1px 1px 2px #b0bac9;
          box-shadow: 1px 1px 2px #b0bac9;
}

.text {
  font-size: 1.2em;
  margin-top: 30px;
  margin-left: 10px;
}

.footer {
  text-align: center;
  background: #686de0;
  height: 140px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.footer::before {
  content: "";
  background-color: #686de0;
  width: 248px;
  height: 30px;
  display: inline-block;
}

.img {
  border-radius: 50%;
  border: 3px solid #fff;
  margin: auto;
  display: block;
  position: relative;
  top: 50px;
}

.social-media {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blogtext {
  opacity: 1;
  position: absolute;
  text-align: center;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font-size: 16px;
  bottom: 240px;
  right: 0;
  height: 30px;
  width: 200px;
  background-color: #e17b77;
}

.blog {
  background-color: #e17b77;
  right: 0;
}

.fbtext {
  opacity: 1;
  position: absolute;
  text-align: center;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font-size: 16px;
  bottom: 200px;
  right: 0;
  height: 30px;
  width: 200px;
  background-color: #3b5998;
}

.facebook {
  background-color: #3b5998;
  right: 0;
}

.ttext {
  opacity: 1;
  position: absolute;
  text-align: center;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font-size: 16px;
  bottom: 160px;
  right: 0;
  height: 30px;
  width: 200px;
  background-color: #00aced;
}

.twitter {
  background-color: #00aced;
  right: 0;
}

.gittext {
  opacity: 1;
  position: absolute;
  text-align: center;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font-size: 16px;
  bottom: 120px;
  right: 0;
  height: 30px;
  width: 200px;
  background-color: #333;
}

.github {
  background-color: #333;
  right: 0;
}

.linkedtext {
  opacity: 1;
  position: absolute;
  text-align: center;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font-size: 16px;
  bottom: 80px;
  right: 0;
  height: 30px;
  width: 200px;
  background-color: #007bb6;
}

.linkedin {
  background-color: #007bb6;
  right: 0;
}
/*# sourceMappingURL=sheet.css.map */